body {
    padding: 0px;
    margin: 0px auto;
    display: block;
    width: 95%;
    font-family: tahoma,arial,sans-serif;
    background: white;
}

.header, .navbar, .right, .footer {
    font-size: 0.8em;
}

.header .right {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-top: 30px;
}

.header .right a {
    color: #00B8DE;
}

.logo {
    margin: 10px;
    padding: 0px;
    height: 103px;
}

.logo img, .logo a { 
    padding: 0px;
    margin: 0px;
    border: none 0px; 
}

.navbar {
    width: 100%;
    background: #EEE;
    border: 1px solid #CCC;    
    font: 14px Arial,Verdana,sans-serif;
    color: #000;
    margin: 0px;
}

.menu1 {
    background: #EEE;
    border: 1px solid #CCC;
}

.menu2 {
    background: #777;
    border: 1px;
    border-style: solid;
    border-color: #000;
}


.navbar span, .navbar a {
    padding: 4px 5px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.menu1 span, .menu1 a {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    float: left;
    color: #555;
}

.menu1 .sep {
    border: none;
}

.menu2 a {
    float: right;
    color: #FFF;
    border-left: 1px solid #000;
    text-transform: uppercase;
    font: 11px Arial,Verdana,sans-serif;
}

.menu1 .sep {
    color: #AAA;
}

.menu1 .active, .menu1 a:hover {
    color: #000;
    background-color: #DDD;
}

.menu2 a:hover {
    background-color: #C00;
}

.navbar::after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.right {
    float: right;
    width: 180px;
    border-left: 1px dashed #CCC;
    padding: 10px;
    z-index: +1;
    background: white;
}

.related, .sitemap ul {
    display: block;
    list-style-type: none;
    padding: 0px;
}

.sitemap p, .sitemap ul {
    margin-bottom: 0px;
}
.sitemap ul {
    margin-top: 0px;
}


.related li, .sitemap li {
    display: block;
    margin: 2px 0px;
    padding: 0px 0px 0px 5px;
    border-left: 7px solid #CCC;
}

.related li.index {
    font-weight: bold;
}

.content {
    padding: 10px 15px;
}

.footer {
    width: auto;
    font-size: 95%;
    padding: 10px;
    border-top: 1px dashed #CCC;
    color: #777;
    text-align: center;
    clear: right;
}

.footer a {
    color: #777;
    text-decoration: dotted underline;
}

h1 {
    margin: 0.5em 0em 0em;
    padding: 0em;
    color: #005A9C;
}

h2, h3, h4, h5, h6 {
    margin: 1.5em 0em 0em;
    padding: 0em;
    color: #005a9c;
}

h2 + h2 {
    padding-top: 1em;
}

h2 + h3 {
    margin-top: 1em;
}

a {
    color: #0071BD;
    text-decoration: none;
}

dt {
    font-weight: bold;
}

dt code {
    font-weight: normal;
}

dd {
    margin-top: .25em;
    margin-bottom: .75em;
}

.content {
    max-width: 640px;
}

.content hr {
    margin-left: 0px;
}

.content .widetable {
    width: calc(95vw - 2em - 15px);
}

.content table {
    border-collapse: collapse;
    font-size: 100%;
    word-wrap: break-word;
    margin: 1em 0em 1em 2em;
}

.content table th {
    background: #888;
    color: #FFF;
    font-weight: bold;
    font-size: 90%;
    padding: 4px 8px;
    border: 1px solid #FFF;
    text-align: left;
}

.content table td {
    padding: 4px 8px;
    border-bottom: 1px solid #DDD;
}

.content table tr:nth-child(odd) td {
    background: #F4F4F4 
}


/*
 * Forms 
 */

div.fieldrow, fieldset, .form-instructions {
    margin-top: 1em;
}

div.fieldrow:first-child {
    margin-top: 0em;
}

div.fieldrow > div, fieldset > div, div.fieldrow > .field, fieldset > .field {
    vertical-align: top;
    display: inline-block;
}

div.fieldrow div.fieldrow, fieldset div.fieldrow {
    display: block;
}

label, legend {
    font-weight: bold;
    display: block;
}


input[type='checkbox'], input[type='checkbox'] + label {
    vertical-align: middle;
    display: inline-block;
}

input[type='checkbox'] + label {
    margin-left: 1em;
}

fieldset {
    border: 1px solid #00a651; /* Our cedar green colour */
    margin-bottom: 0.2em;
}

.label-extra {
    font-weight: normal;
}

.error {
    color: red;
}

.warning {
    border: 2pt solid red;
    padding: 4pt;
}

.content blockquote {
    background: #f4f4f4;
    border: solid 1px #e1e1e1;
    padding: 0em 0em 0em 2em;
    margin: 0em;
}

.content p {
    margin: 1em 0em;
}

p:first-child { 
    margin-top: 0.5em;
}

p:last-child {
    margin-bottom: 0.5em;
}

.fhiso-example {
    margin: 1em 0em 1em 2em;
    background: #e9fbe9;
    border-left: #99f solid 4px;
    padding: 0.5em 1em;
}

.fhiso-example blockquote {
    border: none;
    padding: none;
    background: inherit;
}

.fhiso-example:not(.long):before, .fhiso-example.long > :first-child:before {
    content: "Example \2014 ";
    font-style: italic;
}

.fhiso-ednote {
    margin: 1em 0em 1em 2em;
    background: #F9F0D4;
    border-left: #B77362 solid 4px;
    padding: 0.5em 1em;
}

.fhiso-ednote:not(.long):before, .fhiso-ednote.long > :first-child:before {
    content: "Editorial note \2014 ";
    font-style: italic;
    color: red;
}

.fhiso-note {
    margin: 1em 0em 1em 2em;
    background: #FCFCFC;
    border-left: #C0C0C0 solid 4px;
    padding: 0.5em 1em;
}

.fhiso-note:not(.long):before, .fhiso-note.long > :first-child:before {
    content: "Note \2014 ";
    font-style: italic;
}


